<div id="sprint_<%= sprint.id%>" class="sprint-box">
	<% sprint.issues.each do |issue| %>
	<div class="issue" id="issue_<%=issue.id%>">
		<p>
			<%= issue.subject %>
		</p>
	</div>
	<script>
		new Draggable($("issue_<%= issue.id%>"), {revert : true});
	</script>
	<% end %>
</div>
<script>
	Droppables.add($("sprint_<%= sprint.id%>"), {
		accept: 'issue',
		onDrop: onDrop
	});
</script>
