<div id="sprint_<%= sprint.id%>" class="sprint-box" style="height:600px;">
</div>
<script>
	new IssuesList({
		issues :<%= sprint.issues.map{|issue|
    		{
    		:id => issue.id,
      		:subject => issue.subject 
      		}
  		}.to_json%>, 
  		sprint_id : <%= sprint.id%>,
  		parent_id : "sprint_<%= sprint.id%>",
		url : "/projects/<%=@project.identifier%>/scrumbler_backlogs/change_issue_version"
	});
</script>