<% content_for :header_tags do %>
	<%= stylesheet_link_tag    'scrumbler', :plugin => 'redmine_scrumbler' %>
	<%= stylesheet_link_tag    'scrumbler-points-editor', :plugin => 'redmine_scrumbler' %>
	<%= javascript_include_tag 'Growler-packed', :plugin => 'redmine_scrumbler' %>
	<%= javascript_include_tag 'growler', :plugin => 'redmine_scrumbler' %>
	<%= scrumbler_javascript_helper %>
	<%= javascript_include_tag 'scrumbler-common', :plugin => 'redmine_scrumbler' %>
	<%= javascript_include_tag 'scrumbler-backlog', :plugin => 'redmine_scrumbler' %>
<%end%>

<script>

/**
 * Send AJAX request and update HTML Element - observer
 * 
 * Usage:       	
 *	new Scrumbler.UpdateIssuePointsRequest({
 *       		'issue_id' : issue.id, 
 *       		'points' : points,
 *       		'observer' : observer,
 *       		'popup' : popup
 *       	});
**/
Scrumbler.UpdateIssuePointsRequest = Class.create(Ajax.Request, {
	initialize: function($super, config){
		var url = Scrumbler.root_url+'projects/'+config.project_id+'/scrumbler_backlogs/update_scrum_points';
		$super(url, {
			method : 'post', 
			parameters : {
				'issue_id' : config.issue_id,
				'points' : config.points
			},
			onSuccess : function(transport) {
				var response = transport.responseJSON;
				if(response.success) {
					config.observer.update(config.points);
				}else{
					// TODO create localizations for header
					$growler.growl(resp.text, { header : 'Ошибка' });
				}
			},
			onFailure : function() {
				// TODO display more details about error 
				$growler.growl('Something went wrong...', { header : 'Error' });
			},
			onComplete: function(){ config.popup.hide(); }
		});
	}
});

/**
 * Create popup element for scrum points selection.
 * 
 * Usage:
 * 	var editor = new Scrumbler.ScrumPointEditor({
 *		update_url: Scrumbler.root_url+'projects/'+config.project_id+'/scrumbler_backlogs/update_scrum_points'
 *	});
 * 
 *  editor.enableForElement($('some_div_id'), {"id" : some_issue_id});
**/
Scrumbler.ScrumPointEditor = Class.create({
    initialize: function(config){
        this.config = Object.extend({
            element_classname: "scrum-points-element",
            popup_classname: "scrum-points-popup",
            popup_width: "188px",
            popup_height: "38px",
            values: ["?", "0", "0.5", "1", "2", "3", "5", "8", "13", "20", "40", "100"]
        }, config);
        
        console.log(this.config, this.config.project_id);
        
        this.el = this.createPopup(config);
    },
	createPopup: function(){
		var popup = new Element('div',{ 'class' : this.config.popup_classname });
		popup.setStyle({
        	display: 'none',
            width: this.config.popup_width,
            height: this.config.popup_height
        });
        this.config.values.each(function(value){
        	var value_field = this.createPopupOptionEl(value);
            popup.appendChild(value_field);
        }, this);
        return popup;
    },
    createPopupOptionEl: function(value){
    	var value_div = new Element('div', { 'class' : this.config.element_classname }).update(value);
    	
	  	value_div.observe("click", function(event) {
        	new Scrumbler.UpdateIssuePointsRequest({
        		project_id: this.config.project_id,
        		issue_id: this.current_issue.id, 
        		points: value,
        		observer: this.observer,
        		popup: this.el
        	});
        }.bind(this));
    	return value_div;
    },
    // enable point editor for element     
    enableForElement: function(element, issue){
    	var parentNode = this.el.parentNode;
    	element.observe("click", function(event){
    		if(parentNode == element.parentNode){
    			this.el.toggle();
    			return;
    		}
			// change current issue, that will be edited
    		this.current_issue = issue;
    		this.observer = element;
    		
    		this.el.hide();
    		// remove from previews edited element
    		if(parentNode){ parentNode.removeChild(this.el); }
    		element.parentNode.appendChild(this.el);
            this.el.show();
        }.bind(this));
	}
});

// TODO xxx
Scrumbler.IssueBacklogTemplate = Class.create(Scrumbler.IssueTemplate,{
	// create HTML element for point rendering and editing
	createPointsDiv: function() {
		var points_div = new Element('div',{'class' : 'scrumbler_points'});
		points_div.appendChild(new Element("span").update("Points: "));
		var points_value_span = new Element("span", {'class': 'scrumbler_points_value'}).update(this.config.issue.points);
		points_div.appendChild(points_value_span);

		// make point element editable for Scrumbler.ScrumPointEditor
		var points_editor = this.config.points_editor;
		points_editor.enableForElement(points_value_span, {"id" : this.config.issue.id});		
				
		this.getEl().addClassName("scrumbler_issue_backlog");
		return points_div;
	}
}); 

// TODO DOC
/**
 * Create ui element for tracker displaying
 * 
 * 
 */
Scrumbler.TrackersListUI = Class.create({
	// Create trackers ui element 	
	initialize: function(trackers, config){
		this.config = Object.extend({
			collection_class_name : "scrumbler_backlog_trackers",
			element_class_name : "scrumbler_backlog_tracker",
		}, config);
		
		this.trackers = trackers;
		this.el = this.createUI();
		this.drawTrackers();
	},
	// create DOM Element
	createUI: function(){
		var collection_class_name = this.config.collection_class_name;
		return new Element("div", {"class" : collection_class_name });
	},
	// update trackers list and repaint	
	update: function(trackers){
		this.trackers = trackers;
		this.drawTrackers();
	},
	// repaint tracker list from this.trackers data
	drawTrackers: function(){
		var trackers_div = this.el.update("");
		this.trackers.each(function(tracker){
			var tracker_el = this.createTrackerEl(tracker);
			trackers_div.appendChild(tracker_el);
		},this);
	},
	// create tracker ui element
	createTrackerEl: function(tracker){
		var element_class_name = this.config.element_class_name;
		var tracker_el = new Element("span", {"id" : tracker.id, "class" : element_class_name, style: "border-bottom: 5px solid #"+tracker.color+";"}).update(tracker.name);
		return tracker_el;
	}
});

//TODO
/*
 * new Scrumbler.IssuesListUI({},{project_id : project_id})
 */
Scrumbler.IssuesListUI = Class.create({
	// Create issue ui element
	initialize: function(issues, config) {
		this.config = Object.extend({
			list_class_name : "scrumbler_backlog_issues",
			issue_class_name : "scrumbler_issue",
			disabled_issue_class_name : "disabled_scrumbler_issue"
		}, config);
		
		console.log(this.config, this.config.project_id);
		this.issues = issues;
		this.el = this.createUI();
		this.editor = new Scrumbler.ScrumPointEditor({
 			project_id: this.config.project_id
 		});
		this.drawIssues();
	},
	// create DOM Element
	createUI: function(){
		var list_class_name = this.config.list_class_name;
		var issues_div = new Element("div", { "class" : list_class_name });
		return issues_div;
	},
	// update issues list and repaint 	
	update: function(issues){
		this.issues = issues;
		this.drawIssues();
	},
	// repaint issues list from this.issue data
	drawIssues: function(){
		var issues_div = this.el.update("");
		if(this.issues.length == 0){
			// TODO Extract transaction strings to this.config 			
			issues_div.appendChild(new Element('p',{'class':'nodata'}).update(Scrumbler.Translations.nodata));
		}else{
			this.issues.each(function(issue) {
				var issue_div = this.createIssueEl(issue);
				issues_div.appendChild(issue_div);
			}, this);
		}
	},
	// create issue ui element
	createIssueEl: function(issue){
		var issue_div = new Scrumbler.IssueBacklogTemplate({
					'project_id': this.config.project_id,
					'tracker': issue.tracker,
					'issue': issue,
					'class_name' : issue.disabled ? this.config.disabled_issue_class_name : this.config.issue_class_name,
					'points_editor' : this.editor
				}).getEl();
		
		new Draggable(issue_div, { revert : true });
		
		return issue_div;
	}
});

Scrumbler.SelectSprintRequest = Class.create(Ajax.Request,{
	initialize: function($super, config){
		this.config = Object.extend({}, config);
		var selector = this.config.selector;
		var url = Scrumbler.root_url+'projects/'+this.config.project_id+'/scrumbler_backlogs/select_sprint';
		$super(url,{ method: 'post',
				parameters: { 'sprint_id': selector.value },
				onSuccess : function(transport) { 
					var resp = transport.responseJSON;
					if(resp.success) {
						selector.fire('sprint:selected', resp.sprint);
					} else {
						$growler.growl(resp.text, { header : 'Ошибка' });
					}
				}.bind(this),
				onFailure : function() {
					// TODO More details
					$growler.growl('Something went wrong...', { header : 'Error' });
				}
			});
	}
});

/**
 * Create HTML Select element for sprints. Observe change actionm and send request on it. 
 * After success sprint selected fire "sprint:selected" event.
 * 
 * Usage:
 * 	new Scrumbler.SprintSelector({
 * 									project_id: project_id,
 * 								 	sprints: [
 * 												{ id:1, name:"name1" },
 * 												{ id:2, name:"name2" }
 * 											]
 * 								});
 */
Scrumbler.SprintSelector = Class.create({
	initialize: function(config){
		this.config = Object.extend({
			selector_id: 'scrumbler_sprint_id'
		}, config);
		var sprint_selector = new Element('select', { id: this.config.selector_id });
		
		if(this.config.sprints.length == 0){
			// TODO Extract transaction strings to this.config 			
			this.el = new Element('p',{'class':'nodata'}).update(Scrumbler.Translations.nodata);
			return;
		}
		
		// Populate selector with avaliable options
		config.sprints.each(function(sprint){
			var option = new Element('option',{value: sprint.id}).update(sprint.name);
			sprint_selector.appendChild(option);
		});
		
		// Send request on sprint selected
		sprint_selector.observe('change', function(event){
			new Scrumbler.SelectSprintRequest({
				project_id: this.config.project_id,
				selector: sprint_selector
			});
		}.bind(this));
		
		this.el = sprint_selector;
	}
});

</script>


<script>
	
	Scrumbler.Backlog = Class.create({
		initialize: function(config){
			this.config = Object.extend({
				parent_id : "content",
				backlog : {
					issues: [],
					trackers: []
				},
				sprint: {
					issues: [],
					trackers: []
				}
			}, config);
			
			
			this.backlog = this.createBacklog();
			
			var backlog_trackers = new Scrumbler.TrackersListUI(this.config.backlog.trackers);
			
			this.el = new Element('div');
			
			
			var div = new Element('div',{id:'splitcontentleft', style: "float:left;width:48%;"});
			div.appendChild(new Element('h2').update(Scrumbler.Translations.label_backlog));
			div.appendChild(backlog_trackers.el);
			div.appendChild(this.backlog.el);
			this.el.appendChild(div);


			this.sprint = this.createSprint();
			
			var sprint_trackers = new Scrumbler.TrackersListUI(this.config.sprint.trackers);
			div = new Element('div',{id:'splitcontentright', style: "float:right; width:50%;"})
			
			var sprint_selector = new Scrumbler.SprintSelector({sprints: this.config.sprints, project_id: this.config.backlog.project_id});
			
			div.appendChild(sprint_selector.el);
			div.appendChild(sprint_trackers.el);
			div.appendChild(this.sprint.el);
			this.el.appendChild(div);
			
			
			sprint_selector.el.observe('sprint:selected', function(event){
				var sprint = event.memo;
				this.sprint.update(sprint.issues);
				sprint_trackers.update(sprint.trackers);
				console.log("xxx", sprint);
				
			}.bind(this));
		},
		createBacklog: function(){
			var backlog = new Scrumbler.IssuesListUI(this.config.backlog.issues, {
				project_id: this.config.project_id
			});
			return backlog;			
		},
		createSprint: function(){
			var sprint = new Scrumbler.IssuesListUI(this.config.sprint.issues,{
				project_id:this.config.project_id
			});
			return sprint;
		}
	});
	
	
</script>

<script>
	var backlog = new Scrumbler.Backlog(
		<%=prepare_all().to_json%>
		
	);
	
	$('content').appendChild(backlog.el);
</script>


	<!-- <div id="splitcontentleft" style="float:left;width:48%;">
		<h2><%= l(:label_backlog)%></h2>
		<div class ="scrumbler_box" >
			<div id="backlog" class="backlog">
				
				<div id="backlog_list" style="min-height:100px;"></div>
			</div>
			
 			<%= backlog_issues%> 
		</div>
		
	</div>
	<div id="splitcontentright" style="float:right; width:50%;">
		<%if @selected_sprint%>
			<div id = "sprint_list_div" class ="scrumbler_box">
				
				<b><%=t(:scrumbler_sprint)%></b>
				<script>
					var selector = new Scrumbler.SprintSelector({
						project_id: <%=@project.identifier.to_json%>,
						sprints: <%=@project.scrumbler_sprints.planning.to_json%>
						});
					$('sprint_list_div').appendChild(selector.el);
				</script>
				
				
				<div id="sprint_list" class="sprint-box" style="min-height:100px;">
			
				</div>
				<%= sprint_issues(@selected_sprint) %>
				
				<script>
					backlog_list.sprintSelected(<%=prepare_sprint_for_json(@project, @selected_sprint).to_json%>);
				</script>
			</div>
		<%else%>
			<p class="nodata">
				<%= l(:versions_for_sprints_not_created) %>
			</p>
		<%end%>
		
	</div> -->

