<script>
	function getRealId(id) {
		var splitted = id.split("_");
		return splitted.last();
	};

	function render(parent_div, issues) {
		console.log("render", parent_div, issues);
		parent_div.update("");
		issues.each(function(issue) {
			var issue_div = new Element("div", {
				"id" : "issue_" + issue.id,
				"class" : "issue"
			});
			issue_div.update("<p>" + issue.subject + "</p>");
			new Draggable(issue_div, {
				revert : true
			});
			parent_div.appendChild(issue_div);
		});
	};

	var IssuesList = Class.create({

		initialize : function(config) {
			this.issues = config.issues;
			this.parent = $(config.parent_id);
			this.sprint_id = config.sprint_id;
			this.url = config.url;
			render(this.parent, config.issues);
			Droppables.add(this.parent, {
				accept : 'issue',
				onDrop : this.onDrop.bind(this)
			});
		},
		onDrop : function(issue_div, target_div, event) {
			var issue_id = getRealId(issue_div.id);
			var source_div = issue_div.parentNode
			console.log(source_div);
			if(source_div == target_div) {
				return;
			}

			issue_div.hide();
			console.log(this.url);
			new Ajax.Request(this.url, {
				method : 'post',
				parameters : {
					'issue_id' : issue_id,
					'sprint_id' : this.sprint_id,
				},
				onSuccess : function(transport) { target_div
					var resp = transport.responseJSON;
					console.log(resp);
					if(resp.success) {
						// Move issue to backlog
						if(this.sprint_id === undefined) {
							render(target_div, resp.backlog);
							render(source_div, resp.sprint);
						}
						// Move issue to sprint
						else {
							render(source_div, resp.backlog);
							render(target_div, resp.sprint);
						}
					} else {
						$growler.growl(resp.text, {
							header : 'Ошибка'
						});
					}

				}.bind(this),
				onFailure : function() {
					$growler.growl('Something went wrong...', {
						header : 'Error'
					});
				},
				onComplete : function() {
					issue_div.show();
				}
			});
		}
	});

</script>
<% content_for :header_tags do %>
<%= stylesheet_link_tag    'scrumbler', :plugin => 'redmine_scrumbler' %>
<%= javascript_include_tag 'Growler-packed', :plugin => 'redmine_scrumbler' %>
<%= javascript_include_tag 'growler', :plugin => 'redmine_scrumbler' %>
<%end%>
<div id="splitcontentleft" style="float:left;width:48%;">
	<div class ="box" >
		<div id="backlog" class="backlog">
			<h2><%= l(:label_backlog)%></h2>
			<div id="backlog_list" style="min-height:100px;"></div>
		</div>
		<%= backlog_issues%>
	</div>
</div>
<div id="splitcontentright" style="float:right; width:50%;">
	<div class ="box">
		<h2><%= l(:label_sprints)%></h2>
		<%= render_sprint_tabs scrumbler_sprints_tabs(@project.scrumbler_sprints.planning)%>
	</div>
</div>