<% content_for :header_tags do %>
	<%= stylesheet_link_tag    'scrumbler', :plugin => 'redmine_scrumbler' %>
	<%= stylesheet_link_tag    'scrumbler-points-editor', :plugin => 'redmine_scrumbler' %>
	<%= javascript_include_tag 'Growler-packed', :plugin => 'redmine_scrumbler' %>
	<%= javascript_include_tag 'growler', :plugin => 'redmine_scrumbler' %>
	<%= scrumbler_javascript_helper %>
	<%= javascript_include_tag 'scrumbler-common', :plugin => 'redmine_scrumbler' %>
	<%= javascript_include_tag 'scrumbler-backlog', :plugin => 'redmine_scrumbler' %>
<%end%>

<h2><%= l(:label_backlog)%></h2>
	<div id="splitcontentleft" style="float:left;width:48%;">
		<div class ="scrumbler_box" >
			<%if @project.issues.without_version.any?%>
			<div id="backlog" class="backlog">
				
				<div id="backlog_list" style="min-height:100px;"></div>
			</div>
			
				<%= backlog_issues%>
			<%else%>
				<p class="nodata">
					<%= l(:label_no_data) %>
				</p>
			<%end%>
		</div>
		
	</div>
	<div id="splitcontentright" style="float:right; width:50%;">
		<%if @selected_sprint%>
			<div id = "sprint_list_div" class ="scrumbler_box">
				
				<b><%=t(:scrumbler_sprint)%></b>
				<script>
					var selector = new Scrumbler.SprintSelector({
						project_id: <%=@project.identifier.to_json%>,
						sprints: <%=@project.scrumbler_sprints.planning.to_json%>
						});
					$('sprint_list_div').appendChild(selector.el);
				</script>
				
				
				<div id="sprint_list" class="sprint-box" style="min-height:100px;">
			
				</div>
				<%= sprint_issues(@selected_sprint) %>
				
				<script>
					backlog_list.sprintSelected(<%=prepare_sprint_for_json(@project, @selected_sprint).to_json%>);
				</script>
			</div>
		<%else%>
			<p class="nodata">
				<%= l(:label_no_data) %>
			</p>
		<%end%>
		
	</div>

