<% content_for :header_tags do %>
  <%= stylesheet_link_tag    'prototype_colorpicker', :plugin => 'redmine_scrumbler' %>
  <%= javascript_include_tag 'prototype_colorpicker', :plugin => 'redmine_scrumbler' %>
<% end %>


<% form_tag update_trackers_project_scrumbler_sprint_url(@project, @scrumbler_sprint) do%>
  <table class="list">
    <thead>
      <tr>
        <th align="left"><%=l :label_tracker_plural %></th>
        <th width="100px"><%=l "active_record.models.scrumbler_sprint_tracker.color"%></th>
        <th width="100px"><%=l :label_tracker_plural%></th>
        <th width="100px"><%=t "active_record.models.scrumbler_sprint_tracker.priority" %></th>
      </tr>
    </thead>
    <tbody>
      <% @trackers.each do |tracker| %>
        <% existing_tracker = @enabled_trackers[tracker.id.to_s] %>
        <tr class="<%= cycle 'odd', 'even' %>">
          <td><%= tracker.name%></td>
          <td><%= select_color_tag("scrumbler_sprint[scrumbler_sprint_trackers][#{tracker.id}][color]", existing_tracker.try("[]", :color), {:default_color=>"FAA"}) %>
          </td>

          <td align="center">
            <%= check_box_tag "scrumbler_sprint[scrumbler_sprint_trackers][#{tracker.id}][enabled]", 
              true, 
              !!existing_tracker  
          %>
          </td>
          <td>
            <%= text_field_tag "scrumbler_sprint[scrumbler_sprint_trackers][#{tracker.id}][priority]",  existing_tracker.try("[]", :priority) || 500, :size => 3%>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <p><%= submit_tag(l(:button_save)) %></p>
<% end %>