<% content_for :header_tags do %>
  <%= stylesheet_link_tag    'prototype_colorpicker', :plugin => 'redmine_scrumbler' %>
  <%= javascript_include_tag 'prototype_colorpicker', :plugin => 'redmine_scrumbler' %>

<% end %>

<h2><%=  @scrumbler_sprint.name%> - <%=l :label_settings%></h2>
<%= render :partial => 'trackers' %>
<%= render :partial => 'issue_statuses' %>
