<% form_tag update_issue_statuses_project_scrumbler_settings_url(@project) do%>
    <table class="list">
        <thead>
            <tr>
                <th><%=l :label_issue_status_plural %></th>
                <th width="100px"><%=l :maintracker_use?%></th>
                <th width="100px"><%=t "active_record.models.scrumbler_sprint_status.priority" %></th>
            </tr>
        </thead>
        <tbody>
            <% @issue_statuses.each do |issue_status| %>
                <tr class="<%= cycle 'odd', 'even' %>">
                    <td><%=  issue_status.name%></td>
                    <td>
                        <%= check_box_tag "scrumbler_issue_statuses[]", 
                                          issue_status.id, 
                                          @scrumbler_project_setting.settings[:issue_statuses].include?(issue_status.id)  
                        %>
                    </td>
                </tr>
            <% end %>
        </tbody>
    </table>
    <p><%= submit_tag(l(:button_update)) %></p>
<% end %>