<h3><%=l :label_maintrackers%></h3>

<% form_tag update_maintrackers_project_scrumbler_settings_url(@project) do%>
    <table class="list">
        <thead>
            <tr>
                <th><%=l :label_tracker_plural %></th>
                <th width="100px"><%=l :maintracker_use?%></th>
            </tr>
        </thead>
        <tbody>
            <% @project.trackers.each do |tracker| %>
                <tr class="<%= cycle 'odd', 'even' %>">
                    <td><%=  tracker.name%></td>
                    <td>
                        <%= check_box_tag "scrumbler_maintrackers[]", 
                                          tracker.id, 
                                          @scrumbler_project_setting.maintrackers.include?(tracker.id)  
                        %>
                    </td>
                </tr>
            <% end %>
        </tbody>
    </table>
    <p><%= submit_tag(l(:button_update)) %></p>
<% end %>