<div id="scrumbler_dashboard">
  <% if @scrumbler_sprints.any? %>
    <p>
      <%= label_tag :scrumbler_sprint_id, l(:scrumbler_sprint) %>

      <%= collection_select "scrumbler_sprint", :id, @scrumbler_sprints, :id, :name, 
        {
        :selected => @scrumbler_sprint.id
      },
        {
        :onchange => "#{remote_function :url => {
        :controller => :scrumbler,
        :action => :sprint,
        :project_id => @project
        }, :with => "'sprint_id='+value"}"
      }
    %>
    </p>
    <p>
      <%= label_tag :show_all, l(:label_scrumbler_show_all_sprint) %>

      <%=check_box_tag :show_all, !@show_all, @show_all, {:onchange => "#{remote_function :url=> {
        :controller => :scrumbler, 
        :action => :update_dashboard, 
        :project_id => @project,
        :scrumbler_sprint_id => @scrumbler_sprint
        }, :with => "'show_all='+value"}"
      }
    %>

    </p>
    <%= render :partial => 'sprint', :object =>  @scrumbler_sprint %>
  <% else %>
    <p class="nodata"><%= l(:label_no_data) %></p>
  <% end %>
</div>  