<script>
    var ScrumblerDashboard = (function() {
    var Status = Class.create({
        initialize: function(status) {
            this.status = status;
        },
        getElement: function() {
            
        }
    });

    var Issue = Class.create({
        initialize: function(issue_config, statuses) {
           this.el = new Element('tr');
           this.config = issue_config;
           this.id = "scrumbler_dashboard_issue_" + issue_config.id;
           
           
           this.issueEl = new Element('div', {
               'class': 'scrumbler_dashboard_issue',
               id: this.id
           });
           this.issueEl.update(this.config.subject);
           
           this.statuses = this.makeStatuses(statuses);
           this.drawStatuses();
           console.log(this.config.status_id)
           console.log(statuses)
           this.statuses.get(this.config.status_id).appendChild(this.issueEl);

           this.make_Drag_N_Drop();
        },
        makeStatuses: function(statuses) {
            var statusElements = {};
            
            statuses.each(function(status){
                statusElements[status.issue_status_id] = new Element('td');
            })
            return $H(statusElements);
        },
        drawStatuses: function() {
            this.statuses.each(function(pair) {
                this.el.appendChild(pair.value);
                pair.value.update('&nbsp;')
            }, this);
        },
        make_Drag_N_Drop: function() {
            this.draggable = new Draggable(this.issueEl, { 
                revert: true,
                constraint: 'horizontal',
                onDrop: function(dragged, dropped, event) {
                    this.statuses.each(function(pair) {
                        console.log(pair.value == dropped)
                    })
                }.bind(this)
            });
            this.statuses.each(function(pair) {
                
                Droppables.add(pair.value, {
                    accept: 'scrumbler_dashboard_issue',
                    onDrop: function(dragged, dropped, event) {
                        if(dragged == this.issueEl) {
                            dropped.appendChild(dragged)
                        }
                    }.bind(this)
                });
                
            }, this);
        }
    });


    var DashboardModule = {
       drawStatuses: function() {
            var tr = this.table.appendChild(new Element('tr'));
            var colWidth = 100/this.statuses.length;
            this.statuses.each(function(status){
                var th = tr.appendChild(new Element('th', {
                    width: ''+colWidth+'%'
                }));
                th.update(status.name);
            }, this);
        },
        makeIssues: function() {
            var issues = [];
            this.config.issues.each(function(issue) {
                issues.push(new Issue(issue, this.statuses));
            }, this);
            return issues;
        },
        drawIssues: function() {
            this.issues.each(function(issue) {
                this.table.appendChild(issue.el)
            }, this)
        } 
    }
    var Dashboard = Class.create(DashboardModule, {
        initialize: function(dashboard, config) {
            // private
        
            
        
            // public
            this.config = config;
            this.statuses = config.statuses;
            
            this.table = new Element('table', {'width': '100%'}, {
            });
            
            
            this.drawStatuses();
     
            this.issues = this.makeIssues();
            this.drawIssues();

            console.log(1)
            this.dashboard = $(dashboard);
            this.dashboard.appendChild(this.table);
        }
        
    });
    
    return Dashboard;
})();

</script>

<div id="scrumbler_sprint">
    <% if sprint %>
    <div class="contextual">
        <%= link_to "Настройки спринта", settings_project_scrumbler_sprint_url(@project, sprint) %>
    </div>
    <h3><%= sprint.name %></h3>
    <div id="dashboard_for_sprint_<%=  sprint.id%>"></div>
    <script>
        var d = new ScrumblerDashboard('dashboard_for_sprint_<%= sprint.id %>', 
                                <%= {
                                    :sprint => sprint,
                                    :project => @project,
                                    :statuses => sprint.scrumbler_sprint_statuses,
                                    :issues => sprint.issues
                                    }.to_json %>);
    </script>
    <% else %>
        <p id="errorExplanation"><%=l :error_sprint_not_found_in_project %></p>
    <% end %>
</div>

